<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smarttraffic.smartparking">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/smartparkinglogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.SmartParking">
        <activity android:name=".activities.InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="smarttraffic.smartparking.activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.SmartParking"
            android:windowSoftInputMode="stateHidden">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="smarttraffic.smartparking.activities.InitActivity" />
        </activity>
        <activity
            android:name="smarttraffic.smartparking.activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.SmartParking"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="smarttraffic.smartparking.activities.InitActivity" />
        </activity>
        <activity
            android:name="smarttraffic.smartparking.activities.RegistryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.SmartParking"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="smarttraffic.smartparking.activities.ResetPassActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.SmartParking"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="smarttraffic.smartparking.activities.ChangePassActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.SmartParking"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>